/* Reset de estilos básicos */
body,
h1,
label,
input,
button,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    width: 70%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 5% auto;
    padding: 20px;
    text-align: center;
}

.ref {
    width: 100%;
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
}

a {
    display: inline-block;
    margin: 15px 20px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0056b3;
}

h1 {
    margin-top: 20px;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding: 10px 0; 
    text-align: center; 
}
