/* Reset de estilos básicos */
body,
h1,
label,
input,
button,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    width: 70%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 5% auto;
    padding: 20px;
}

.boton {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}


#r1, #r2 {     
    font-size: 15px;
    color: red;
    margin: 0;
    text-align: start;
}
#resultado{
    font-size: 20px;
}
a{
    display: inline-block;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    background-color: #007bff; /* Color de fondo del botón */
    color: #fff; /* Color del texto en blanco */
    text-decoration: none; /* Quita la subrayado por defecto del enlace */
    border-radius: 4px; /* Agrega bordes redondeados para un aspecto de botón */
    transition: background-color 0.3s;
}
a:hover{
    background-color: #0056b3;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

input {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    padding: 10px 0; 
    text-align: center; 
}
